.Coupon{
    width: 10rem;
    height: 10rem;
    border: 2px solid black;
    margin: 2rem;
}

.buttonContainer {
    margin-top: 3rem;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.brandInfo {
    margin-left: 1rem;
}