.header{
    height: 5vh;
    border: 3px solid black;
}

.banner {
    height: 30vh;
}

.bannerImg {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73))
    ,url(https://images.unsplash.com/photo-1552566626-52f8b828add9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=3450&q=80.jpeg);
    background-size: cover;
    height: 30vh;
    background-position: center;
}

.BusinessProfiles {
    background-color: #f0f0f0,
}