.header{
    height: 5vh;
    border: 3px solid black;
}

.banner {
    height: 25vh;
}

.bannerImg {
    background-image: url(https://outback-prod.s3-ap-southeast-1.amazonaws.com/image/aa624c435a6bb0d1beb5a7616c8e5a78_ErtLo2.jpg);
    background-size: cover;
    height: 25vh;
    background-position: center;
}