.start-dot{
    color: red;
    border-color: red !important;
}

.bronze-dot{
    background-color: #cd7f32 !important;
    
}

.silver-dot{
    background-color: #aaa9ad !important;

}

.gold-dot{
    background-color: #d4af37 !important;
}

.platinum-dot{
    background-color: #607d8b !important;

}