// .registerForm{
//     display: flex;
//     flex-direction: column;
//     max-width: 30%;
// }

.registerH2{
    color: #282828;
}

.registerFormButton{
    color: #282828;
    border: none !important;
}
