.RecommendationCard{
    border: 2px solid black;
}

.image{
    height: 10rem;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink
}

.header {
    padding: 0 !important;
    margin: 0 !important;
}