body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f0f0f0;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  @font-face {
    font-family: "Raleway";
    src: local("Raleway"),
      url("../src/Assets/Fonts/Raleway/Raleway-Regular.ttf") format("truetype");
    font-weight: normal;
  }

  @font-face {
    font-family: "PeaceSans";
    src: local("PeaceSans"),
      url("../src/Assets/Fonts/PeaceSans/Peace\ Sans\ Webfont.ttf") format("truetype");
    font-weight: normal;
  }

  @font-face {
    font-family: "LeagueSpartan";
    src: local("LeagueSpartan"),
      url("../src/Assets/Fonts/LeagueSpartan/leaguespartan-bold.ttf") format("truetype");
    font-weight: normal;
  }

  @font-face {
    font-family: "MontserratSemiBold";
    src: local("Montserrat"),
      url("../src/Assets/Fonts/MontserratSemiBold/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: normal;
  }

  @font-face {
    font-family: "MontserratRegular";
    src: local("Montserrat"),
      url("../src/Assets/Fonts/MontserratRegular/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
  }

  @font-face {
    font-family: "MontserratMedium";
    src: local("Montserrat"),
      url("../src/Assets/Fonts/MontserratMedium/Montserrat-Medium.ttf") format("truetype");
    font-weight: normal;
  }

  h1 {
    font-family: PeaceSans !important;
    font-weight: 400 !important;
    font-size: 2rem !important;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
  }

  h2 {
    font-family: LeagueSpartan !important;
    font-weight: 600 !important;
    font-size: 1.2rem !important;
    color: #282828;
    letter-spacing: 0.1rem;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }


  h3 {
    font-family: MontserratSemiBold !important;
    font-weight: 600 !important;
    font-size: 1.2rem !important;
    margin: 0;
    color: #282828;
    letter-spacing: 0.1rem;
  }

  h4{
    font-family: MontserratMedium !important;
    font-weight: 600 !important;
    font-size: 1rem !important;
    margin: 0;
    color: #282828;
    letter-spacing: 0.1rem;
  }


  h6 {
    font-family: MontserratRegular !important;
    font-weight: 200 !important;
    font-size: 1rem !important;
    color: #282828;
  }

  p {
      font-family: MontserratRegular !important;
      font-weight: 200 !important;
      font-size: 0.8rem !important;
  }

