
// .NavBar{
//     height: 10vh;
//     border: 2px solid black;
//     padding: 0rem 2rem;
// }

// .NavBar h1 {
//     text-align: left !important;
// }

// .BrandSection h1{
//     margin-bottom: -2rem;
//     margin-left: 4rem;
// }

// .CouponSectionHeaders{
//     padding: 2rem 0rem;
//     text-align: left;
//     margin-left: 2rem;
// }

// .ReferFriendContainer{
//     border: 2px solid black;
//     height: 16rem;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }


.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    margin: 0 !important;
  }

.none {
    padding: 0 !important;
    margin: 0 !important;
}
  
  .referButton {
    // min-width: 10vw;
    // min-height: 5vh;
    width: 260px;
    height: 100px;
    // font-family: 'Nunito', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #282828;
    // background: #8eebdc;
    background: linear-gradient(90deg, rgb(121, 231, 216) 0%, rgb(86, 226, 212) 100%);
    border: none;
    border-radius: 15px !important;
    box-shadow: 3px 3px 6px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 20px;
    }

  .topButton {
    margin-bottom: 1rem;
  }
  
  // .referButton::before {
  // content: '';
  //   border-radius: 15px;
  //   min-width: calc(10vw + 5vw);
  //   min-height: calc(5vh + 8vh);
  //   border: 6px solid #ff829b;
  //   box-shadow: 0 0 30px rgba(0,255,203,.64);
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  //   opacity: 0;
  //   transition: all .3s ease-in-out 0s;
  // }
  
  .referButton:hover, .button:focus {
    color: #313133;
    transform: translateY(-3px);
  }
  
  .referButton:hover::before, button:focus::before {
    opacity: 1;
  }
  
  // .referButton::after {
  //   content: '';
  //   width: 60px; height: 60px;
  //   border-radius: 100%;
  //   border: 6px solid #ff829b;
  //   position: absolute;
  //   z-index: -1;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  //   animation: ring 1.5s infinite;
  // }
  
  .referButton:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  // @keyframes ring {
  //   0% {
  //     width: 6vw;
  //     height: 10vh;
  //     opacity: 1;
  //   }
  //   100% {
  //     width: 11vw;
  //     height: 25vh;
  //     opacity: 0;
  //   }
  // }