.reviewCard{
    min-width: 15rem;
    max-width: 15rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

.icon{
    width: 30%;
    height: 5rem;
    border: 1px solid black;
}

.photo{
    width: 70%;
    height: 5rem;
    border: 1px solid black;
}

.upperCard{
    display: flex
}